body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	text-align:center;
}
html {
	height:100%;
	width:100%;
}

#data {
	width:100%;
	height:100%;
	margin-top:75px;
}
#data-container {
	text-align:left;
	height:40%;
	width:100%;
	background-color:rgba(255,255,255,0.85);
	position:fixed;
	z-index:2;
	bottom:0;
}
.data-point, .data-bar {
	display:inline-block;
}
.data-point {
	margin-bottom:10px;
	width:350px;
}

#map {
	height:100%;
	width:100%;
	position:fixed;
}

.button-container {
	position:relative;
	bottom:41.25%;
	height:30px;
	padding:0 5px 0 5px;
	margin:0 auto 0 auto;
	z-index:3;
}
.data-bar {
	height:10px;
	background-color:blue;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	border-bottom-left-radius:5px;
	border-top-left-radius:5px;
}


